<div class="field render"
    {% if self.displayed == False %}style="display:none"{% endif %}>
    <div class="ui{% if self.type %} {{ self.type }}{% endif %} checkbox">
        {% if self.label %}
            <label>{{ self.label }}</label>
        {% endif %}
        <input id="{{ self.id }}"
               class="component{% if self.css_class %} css_class{% endif %}"
               type="checkbox"
               name="{{ self.parent.id }}"
               value="{{ self.value }}"
               {% if self.parent.disabled or self.disabled %}disabled{% endif %}
               {% if self.checked %}checked{% endif %}
               {% for event, handler in self.handler.items %}
                   {{ event }}_handler="{{ handler }}"
               {% endfor %}
               {% for name, value in self.attributes.items %}
                   {{ name }}="{{ value }}"
               {% endfor %}/>
    </div>
</div>
