<!-- FileInput -->
<div class="render field"
     {% if self.displayed == False %}style="display:none"{% endif %}>
    {% if self.label %}
        <div class="ui sub header">
          {{ self.label }}
        </div>
    {% endif %}
    {% if self.error %}
      <div class="error">
        {{ self.error }}
      </div>
    {% endif %}
    {% if self.icon %}<div class="ui {{ self.icon_position }} icon input">
        <i class="{{ self.icon }} icon"></i>
    {% endif %}
        <input class="component{% for event in self.handler.keys %} {{ event }}{% endfor %}"
               id="{{ self.id }}"
               name="{{ self.id }}"
               {% if self.disabled %}disabled{% endif %}
               {% if self.multiple %}multiple{% endif %}
               type="file"
               value="{{ self.value }}"
            {% for event, handler in self.handler.items %}
                {{ event }}_handler="{{ handler }}"
            {% endfor %}
            {% if self.placeholder %}placeholder="{{ self.placeholder }}"{% endif %}
            {% for name, value in self.attributes.items %}
               {{ name }}="{{ value }}"
            {% endfor %} />
        {% if self.icon %}</div>{% endif %}

    {% if self.existing_files %}
        <div class="file-input delete-files">
            <div class="ui sub header" style="padding:20px 0 10px 0">
              Delete Files
            </div>
            {% for file in self.existing_files %}
                <div class="delete-files-wrapper">
                    <div class="ui checkbox" style="float:left">
                      <input class="component" type="checkbox" name="delete-{{ self.id }}" value="{{ file.id }}" />
                    </div>
                    <img src="{{ file.file.url }}" width="64px" />
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script type="text/javascript">
        $('.ui.checkbox').checkbox();
    </script>
</div>
