<!-- Group -->
<div class="ui form container render">
     {% if self.displayed == False %}style="display:none"{% endif %}
    <div class="ui component{% if self.css_class %} {{ self.css_class }}{% endif %}"
         id="{{ self.id }}"
        {% for name, value in self.attributes.items %}
            {{ name }}="{{ value }}"
        {% endfor %}>
        {% if self.is_grid %}<div class="ui grid">{% endif %}
            {% for component in self.components %}
                {% if self.tag %}
                    <{{self.tag}}>{{ component.render }}</{{self.tag}}>
                {% else %}
                    {{ component.render }}
                {% endif %}
            {% endfor %}
        {% if self.is_grid %}</div>{% endif %}
    </div>
</div>
