<div class="render">
     {% if self.displayed == False %}style="display:none"{% endif %}
    <!-- Group -->
    <div class="ui component{% if self.css_class %} {{ self.css_class }}{% endif %}"
         id="{{ self.id }}"
        {% for name, value in self.attributes.items %}
            {{ name }}="{{ value }}"
        {% endfor %}>
        {% for component in self.components %}
            {% if self.tag %}
                <{{self.tag}}>{{ component.render }}</{{self.tag}}>
            {% else %}
                {{ component.render }}
            {% endif %}
        {% endfor %}
    </div>
</div>
