<div class="render">
    <{{self.tag}} class="component{% if self.css_class %} {{ self.css_class}}{% endif %}{% for event in self.handler.keys %} {{ event }}{% endfor %}"
         id="{{ self.id }}"
         {% for name, value in self.attributes.items %}
             {{ name }}="{{ value }}"
         {% endfor %}
         {% for event, handler in self.handler.items %}
             {{ event }}_handler="{{ handler }}"
         {% endfor %}>
            {{ self.content|safe }}
            {% for component in self.components %}
                {{ component.render }}
            {% endfor %}
    </{{self.tag}}>
    {{ js|safe }}
</div>
