<div class="ui container render"
     id="{{ self.id }}"
    {% for name, value in self.attributes.items %}
        {{ name }}="{{ value }}"
    {% endfor %}>
    <div class="ui top attached tabular menu">
        {% for item in self.components %}
            <a class="item {% if item.active %}active{% endif %}" data-tab="{{ item.id }}">{{ item.title }}</a>
        {% endfor %}
    </div>
    {% for item in self.components %}
        {{ item.render }}
    {% endfor %}
</div>
<script type="text/javascript">
    for (let item of $("#{{self.id}}")) {
        console.log(item);
    }
</script>

