<td id="{{ self.id }}"
    class="component render{% if self.css_class %} {{ self.css_class}}{% endif %}{% for event in self.handler.keys %} {{ event }}{% endfor %}"
    {% for event, handler in self.handler.items %}
        {{ event }}_handler="{{ handler }}"
    {% endfor %}
    {% for name, value in self.attributes.items %}
        {{ name }}="{{ value }}"
    {% endfor %}>
    {{ self.content|safe }}
    {% for component in self.components %}
        {{ component.render }}
    {% endfor %}
</td>

