<div class="render">
    {% if self.label %}
        <div class="ui sub header">{{ self.label }}</div>
    {% endif %}
    <table class="ui table"
           id="{{ self.id }}"
           {% for name, value in self.attributes.items %}
               {{ name }}="{{ value }}"
           {% endfor %} >
        <thead>
            <tr>
                {% for column in self.columns %}
                    <th>
                        {{ column }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        {% if self.components %}
            <tbody>
                {% for component in self.components %}
                    {{ component.render }}
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
</div>
