<div class="render">
    {% if self.label %}
        <div class="ui sub header">{{ self.label }}</div>
    {% endif %}

    <table class="ui table"
           id="{{ self.id }}"
           {% for name, value in self.attributes.items %}
               {{ name }}="{{ value }}"
           {% endfor %} >
        {% if self.headers %}
            <thead>
                <tr>
                    {% for header in self.headers %}
                        <th>
                            {{ header }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}
        {% if self.components %}
            <tbody>
                {% for component in self.components %}
                    {{ component.render }}
                {% endfor %}
            </tbody>
        {% endif %}
        {% if self.has_pagination %}
            <tfoot>
                <tr>
                    <th colspan="{{ self.headers|length }}">
                        <div class="ui right floated pagination menu">
                            {% if self.has_previous %}
                                <a cid="{{ self.id }}" component-value="previous" class="icon item click" click_handler="server:handle_pagination">
                                    <i class="left chevron icon"></i>
                                </a>
                            {% else %}
                                <a cid="{{ self.id }}" class="icon item disabled">
                                    <i class="left chevron icon"></i>
                                </a>
                            {% endif %}
                            {% for page in self.get_pages_range %}
                                <a cid="{{ self.id }}" component-value="{{ page }}" class="item click {% if page == self.page %}active{% endif %}" click_handler="server:handle_pagination">{{ page }}</a>
                            {% endfor %}
                            {% if self.has_next %}
                                <a cid="{{ self.id }}" component-value="next" class="icon item click" click_handler="server:handle_pagination">
                                    <i class="right chevron icon"></i>
                                </a>
                            {% else %}
                                <a cid="{{ self.id }}" class="icon item disabled">
                                    <i class="right chevron icon"></i>
                                </a>
                            {% endif %}
                        </div>
                    </th>
                </tr>
            </tfoot>
        {% endif %}
    </table>
</div>
