<div class="field render">
    <!-- TextArea -->
    <div class="field">
        {% if self.label %}
            <div class="ui sub header">{{ self.label }}</div>
        {% endif %}
        {% if self.error %}
          <div class="error">
            {{ self.error }}
          </div>
        {% endif %}
        <textarea class="form-control component"
                  id="{{ self.id }}"
                  rows="{{ self.rows }}"
                  {% for name, value in self.attributes.items %}
                      {{ name }}="{{ value }}"
                  {% endfor %}>{{ self.value }}</textarea>
    </div>
    {{ js|safe }}
</div>
