<a id="{{ self.id }}"
   class="item{% if self.css_class %} {{ self.css_class }}{% endif %}{% for event in self.handler.keys %} {{ event }}{% endfor %}"
    {% for name, value in self.attributes.items %}
        {{ name }}="{{ value }}"
    {% endfor %}
    {% for event, handler in self.handler.items %}
        {{ event }}_handler="{{ handler }}"
    {% endfor %}
    {% if self.href %}
        href="{{ self.href }}"
    {% endif %}>
    {% if self.label %}
        <div class="ui label">{{ self.label }}</div>
    {% endif %}
    {{ self.name }}
</a>
