<div class="render">
    <div id="{{ self.id }}"
         class="ui small modal">
         {% if self.header %}
             <h1 class="header">
               {{ self.header }}
             </h1>
         {% endif %}
        <div class="content">
            {% for component in self.components %}
                {{ component.render }}
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#' + '{{ self.id }}')
               .modal({
                   onHidden: function() {
                        $('#' + '{{ self.id }}').remove();
                   }
               })
              .modal('show');
        });
    </script>
</div>
