<div class="render" id="{{ self.id }}">
    <div class="ui small modal">
        {% if self.header %}
            <div class="header">
              {{ self.header }}
            </div>
        {% endif %}
        {% if self.text %}
            <div class="content">
              <p>
                {{ self.text }}
              </p>
            </div>
        {% endif %}
        <div class="actions">
          <div class="ui negative deny button">
            No
          </div>
          <div class="ui positive approve right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
          </div>
        </div>
    </div>
    <script type="text/javascript">
      $(function() {
        $('.ui.small.modal')
        .modal({
          onApprove: function() {
            var data = {};
            data.handler = "{{ self.handler }}";
            data.csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').attr('value');
            data.event_id = "{{ self.event_id }}";
            $.post("", data, result => {
                for (const html of result.html) {
                    if ($(html[0]).hasClass('render')) {
                        $(html[0]).replaceWith(html[1]);
                    } else {
                        $(html[0]).parents('.render:first').replaceWith(html[1]);
                    }
                }
                for (const message of result.messages) {
                    const id = getUUID();
                    $('#messages').append('<div class="ui large positive message" id="message-' + id + '">' + message + '</div>');
                    setTimeout(() => {
                        $('#message-' + id).fadeOut(500, function() {
                            $(this).remove();
                        });
                    },
                    1000);
                }
            });
          },
          onHidden: function() {
            $('.ui.small.modal').remove();
          }
        })
        .modal('show');
      });
    </script>
</script>
