<table class="render ui table"
       id="{{ self.id }}"
       {% for name, value in self.attributes.items %}
           {{ name }}="{{ value }}"
       {% endfor %} >
    <thead>
        <tr>
            {% for column in self.columns %}
                <th>
                    {{ column }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    {% if self.data %}
        <tbody>
            {% for row in self.data %}
                <tr>
                    {% for column in row %}
                        <td>
                            {{ column }}
                        </td>
                    {% endfor %}
                    </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
