<!-- TextInput -->
<div class="render field">
    {% if self.label %}
        <div class="ui sub header">{{ self.label }}</div>
    {% endif %}
    {% if self.error %}
      <div class="error">
        {{ self.error }}
      </div>
    {% endif %}
    <input class="component"
           id="{{ self.id }}"
           name="{{ self.id }}"
           type="text"
           value="{{ self.value }}"
           {% if self.placeholder %}placeholder="{{ self.placeholder }}"{% endif %}
           {% for name, value in self.attributes.items %}
               {{ name }}="{{ value }}"
           {% endfor %} />
    {{ js|safe }}
</div>

