.disabled {
   pointer-events: none;
   cursor: default;
   opacity: 0.6;
}

.error {
    padding: 10px 0;
    color: red;
}

#messages {
    position: fixed;
    width: 400px;
    z-index: 999999;
    top: 10px;
    right: 20px;
}

.ui.message {
    position: relative !important;
    z-index: 10;
    margin: 2px 0;
    opacity: .8;
}

.padding-top {
    padding-top: 20px !important;
}

.padding-bottom {
    padding-bottom: 20px !important;
}

.mt,
.mts,
.margin-top,
.margin-top-small {
  margin-top: 10px !important;
}

.mtl,
.margin-top-large {
  margin-top: 30px !important;
}

.mtm,
.margin-top-middle {
  margin-top: 20px !important;
}

.mb,
.mbs,
.margin-bottom,
.margin-bottom-small {
  margin-bottom: 10px !important;
}

.mbm,
.margin-bottom-middle {
  margin-bottom: 20px !important;
}

.mbl,
.margin-bottom-large {
  margin-bottom: 30px !important;
}

.clickable {
    cursor: pointer;
}

.selected {
    background: #eee;
}

.file-input.delete-files {
  padding-bottom: 10px;
}

.delete-files-wrapper {
  padding-right: 30px;
  float: left;
}

/* split pane start */
.split-wrapper {
    border: 1px solid #ddd;
    height: 80vh;
  }

.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.split-item {
  padding: 10px;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('./img/vertical.png');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('./img/horizontal.png');
  cursor: row-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

/* split pane end */
